<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div>
		<p>Dear Admin</p>

		<p class="text-danger">Alert For Course {{course}} Of Round {{round}}</p>

		<table border="1" style="text-align: center; padding: 3px;">
			<tr>
				<td>Course Name</td>
				<td>Round Name</td>
				<td>Schedule Date</td>
				<td>Total Count</td>
				<td>Assigned Count</td>
				<td>Avalible Count</td>
				<td>Slot Status</td>
			</tr>
			<tr>
				<td>{{course}}</td>
				<td>{{round}}</td>
				<td>{{date}}</td>
				<td>{{count}}</td>
				<td>{{assigned}}</td>
				<td>{{avalible}}</td>
				<td>{{per}} % Full</td>
			</tr>
		</table>
		<p>
			Yours sincerely,
 			<br><br>
			Admissions Office <br>
			Gemma Woods <br>
			Liberties College <br>
		</p>
		<img src="cid:library@logo" height="50px">
	</div>
</body>
</html>