<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h3>Interview Status {{status}}</h3>

	<div>
		<p>Dear {{Student_Name}}</p>
		<table border="1" style="text-align: center; padding: 3px;">
			<tr>
				<td>Round Name</td>
				<td>Interview Date</td>
				<td>Interview Time</td>
				<td>Course Name</td>
				<td>Email</td>
				<td>Mobile</td>
				<td>Approved References</td>
				<td>Status</td>
			</tr>
			<tr>
				<td>{{Round_Name}}</td>
				<td>{{Round_Date}}</td>
				<td>{{Slot_Time}}</td>
				<td>{{Course_Name}}</td>
				<td>{{Email}}</td>
				<td>{{Mobile}}</td>
				<td>{{Reference}}</td>
				<td>{{Decision}}</td>
			</tr>
		</table>

</pre>
		<p>
			Yours sincerely,
 			<br><br>
			Admissions Office <br>
			Gemma Woods <br>
			Liberties College <br>
		</p>
		<img src="cid:library@logo" height="50px">
	</div>
</body>
</html>