<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Change Password</h5>
        <button type="button" class="close" (click)="onClose()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
           <form [formGroup]='changePasswordForm'>
             <div class="row">
                  <div class="col-md-12">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label-static mb-2" [class.text-danger] = "f.oldPassword.touched && f.oldPassword.invalid">Old Password</label>
                      <input type="password" class="form-control" formControlName="oldPassword">
                      <div *ngIf="f.oldPassword.touched && f.oldPassword.invalid">
                        <small class="text-danger" *ngIf = "f.oldPassword.errors?.required && f.oldPassword.touched">  
                          Please Enter Old Password
                        </small>
                        
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="bmd-label-static" [class.text-danger]="f.newPassword.touched && f.newPassword.invalid">New Password</label>
                      <input type="password" class="form-control" formControlName="newPassword" >
                      <!-- <small class='text-danger' *ngIf="f.newPassword.touched && f.newPassword.invalid">Please Enter New Password</small> -->
                      <small class='text-danger' *ngIf="f.newPassword.touched && f.newPassword.invalid">Please Enter Valid Password</small>
                    
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="bmd-label-static" [class.text-danger]="f.confirmPassword.touched && f.confirmPassword.invalid">Confirm Password</label>
                      <input type="password" class="form-control" formControlName="confirmPassword" >
                      <small class='text-danger' *ngIf="(f.confirmPassword.touched && f.confirmPassword.invalid) || (f.confirmPassword.touched && f.newPassword.value != f.confirmPassword.value)">Confirm Password is invalid</small>
                    </div>
                  </div>
                </div>

                
                <div class="modal-foote">
                  <button type="button" [disabled]="!changePasswordForm.valid" class="btn btn-primary" (click) = "changePassword()">Save changes</button>
                  <button type="button" class="btn btn-secondary" (click)="onClose()">Close</button>
                </div>
                <div class="clearfix"></div>
              </form>
      </div>
      
    </div>
  </div>